/* AdminLogin.css */

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    text-align: center;
    margin: 40px 0 20px 0; /* Add margin above the header */
  }
  
  .login-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .login-header p {
    color: #666;
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
  }
  
  .login-form .form-control {
    height: 45px;
    border-radius: 5px;
  }
  
  .login-footer {
    text-align: center;
    margin: 20px 0 40px 0; /* Add margin below the footer */
  }
  
  .login-footer p {
    margin-bottom: 0;
    color: #333;
  }
  
  .login-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  